{% extends "base.html" %}

{% block title %}
	Confirm Password Reset - {{ block.super }}
{% endblock title %}

{% block content %}
	{% if validlink %}
	<h1>Confirm Password Reset</h1>
	<p>Please enter your new password twice so that we could verify that you typed it correctly.</p>
	<form role="form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Change password" />
	</form>
	{% else %}
	<h1> The password reset was not successful.<h1>
	<p>The password reset link was invalid, possibly because it has alreay been used.  Please try
		again.</p>
	{% endif %}
{% endblock content %}
