{% extends 'base.html' %}

{% block title %}Homepage - {{ block.super }}  {% endblock title %}



{% block hero %}
{% load staticfiles %}
<img class="app-graph" src="{% static 'img/startup-0.svg' %}">
<div class="block-sm-middle block-xs-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h1 class="block-title m-b-md">
              <span class="text-ribbon text-ribbon-primary">
                <span>Problems. Solved.</span>
              </span>
            </h1>
            <p class="lead">
              <span class="text-ribbon text-ribbon-primary">
                <span>
                  I am a solutions consultant delivering the right solutions for your business.
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock hero %}

{% block content %}
<div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-3">.col-md-3</div>
      </div>

{% endblock content %}
